body{
  color : #003366;
  background-color : #FFCC99;
}

.header{
  background-color : #FF9966;
}

div {
  margin-bottom : 10px;
}

div.img {
  text-align : center;
}

div.no-space {
  margin-bottom : 0px;
}

div.space-above {
  margin-top : 10px;
}

li, ul {
  margin-bottom : 5px;
}

a, a.btn {
  color : #005099;
}

.cur {
  font-weight : bold;
}

.name {
  font-weight : bold;
  color : #000000;
}
